@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('./reset.css');
@import url('./media_queries.css');
body {
    font-family: 'Roboto', sans-serif;

}

* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
}

header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 41px 112.5px 0;
}

.nav-links a {
    text-decoration: none;
    color:#000;
    padding-right: 20px;
}

.fa-bars {
    display: none;
}


/* INTROSECTION HISSESI START */


.introsection {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 112.5px;
    width: 100%;

}

.introsection .left-side {
    padding-top: 117px;
    display: flex;
    flex-direction: column;
    min-width: 715px;
}

.introsection .left-side h1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    /* line-height: 82px; */
    /* identical to box height, or 115% */
    
    letter-spacing: 2px;
    margin-bottom: 10px;
    /* font-size: 100%; */
  
    

}

.introsection .left-side h1 span {
    color:#FF8A56;

}

.introsection .right-side {
    padding-top: 70px;
    min-width: 500px;
    
}

.introsection .left-side small {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
    color:#666;
   
}

.introsection .left-side button {
    width: 151px;
    height: 58px;
    background-color: #000;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.introsection .left-side a {
    margin-right: 15px;
    color:#000;
}


@media(min-width:768px) and (max-width:1460px) {
    .introsection .left-side {
        flex-basis: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .introsection .right-side {
        display: flex;
        margin: 0 auto;
    }
}



@media(max-width:847px) {
    .introsection {
        padding: 0;
        align-items: center;
    }

    .introsection .left-side {
        min-width: 500px;
       
    }

    .introsection .left-side h1 {
        text-align: center;
        font-size: 54px;
    }

    .introsection .left-side small {
       
        text-align: center;
        font-size: 18px;
    }

    .book-a-call {
        text-align: center;
    }

    .introsection .right-side {
        display: flex;
        margin: 0 auto;
    }

}


@media(max-width:768px) {
    .introsection .left-side {
        flex-basis: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    body {
        /* overflow-x:hidden; */
    }
}










/* INTROSECTION HISSESI END */


/* TRUSTED BY SECTION START */

/* .trusted-by-section {
   padding: 0 289px;
} */

.trusted-by-section h5 {
    /* background-color: red; */
    text-align: center;
    font-size: 18px;
}
.trusted-by-companies {
    padding-top: 77px;
    display: flex;
    justify-content: space-around;
}


@media(max-width:768px) {
    .trusted-by-company:nth-child(even) {
        display: none;
    }
}

@media(max-width:576px) {
    .trusted-by-company:not(:first-child) {
        display: none;
    }
}

/* TRUSTED BY SECTION END */

/* SERVICES-SECTION START */

.services-section {
    padding-top: 76.27px;
}

.services-section h6 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: 700;
    color: #FF5E69;

}


.services-section h1 {
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    margin-top: 20px;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
}

.service-card {
    min-width: 250px;
}

.service-card h2 {
    font-weight: 700;
    font-size: 24px;
}

.service-card p {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ul li {
    font-weight: 700;
    
}
/* SERVICES-SECTION END */